{
  "extends": "standard",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "indent": "off",
    "comma-dangle": "off",
    "no-trailing-spaces": "off",
    "key-spacing": "off",
    "no-undef": "off",
    "padded-blocks": "off",
    "no-multi-spaces": "off",
    "no-multiple-empty-lines": "off"
  },
  "root": true
}
